.remark-slide-number {
  font-family: 'Yanone Kaffeesatz';
}

.inverse {
  background-image: url("images/slide-bg-main.png");
  background-size: cover;
}

.inverse .remark-slide-number {
  color: #E9EBEE;
}

.title-slide {
  background-image: url("images/slide-bg-title2.png");
  background-size: cover;
}

.title-slide .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.title-slide h1 {
  text-align: left;
  padding-top: 280px;
  color: #FFFFFF;
}
.title-slide h2, h3 {
  text-align: left;
  line-height: 50%;
  color: #F7F8FA;
}

.title-slide h4 {
  color: #E9EBEE;
}

.main-slide {
  background-image: url("images/slide-bg-main2.png");
  background-size: cover;
}

h4 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #23395b;
}


  
a, a > code {
  color: #23395b;
  text-decoration: underline;
}

/*div.my-footer {
content: "";
    position: absolute;
    bottom: 15px;
    right:   8px;
    height: 40px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/slide-bg-main.png");
}*/
